@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/variables" as *;

.popup {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #00000091;
    z-index: 999999;

    &__content {
        position: absolute;
        background-color: white;
        height: 100vh;
        width: 100vw;
        @include tablet {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            height: unset;
            width: unset;
        }
    }
}
