@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/variables" as *;
.list {
    &__table--large {
        display: none;
        @include tablet {
            display: block;
        }
    }

    &__table--small {
        display: block;
        @include tablet {
            display: none;
        }
    }

    &__search {
        position: relative;
        display: flex;
        width: 100%;
        align-items: center;
        margin: 1.5rem 0;

        @include tablet {
            min-width: 20rem;
        }

        @include desktop {
            min-width: 25rem;
        }

        &-icon {
            position: absolute;
            right: 1rem;
        }
        &-input {
            height: 3.6rem;
            margin: 0;
            width: 100%;

            @include tablet {
                height: 4.2rem;
            }
        }

        &-link {
            width: 100%;
            display: block;
            height: 3.6rem;
            background-color: $primary-colors-2;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $primary-colors-3;
            text-decoration: none;

            @include p2;

            @include tablet {
                padding: 0 1.5rem;
                height: 4.2rem;
            }
        }
    }

    &__header {
        padding: 3rem 2rem 2rem 2rem;

        @include tablet {
            display: flex;
            justify-content: space-between;
            padding: 2rem 5rem 2rem 5rem;
            align-items: center;
        }
    }

    &__head {
        @include h1;
    }

    &__action {
        @include tablet {
            display: flex;
            align-items: center;
            gap: 1.5rem;
        }
    }
}
