@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/variables" as *;

.inventoryAdd {
  width: 100%;
  &__h1 {
    @include h1;
    padding-left: 32px;
  }
  &__h2 {
    @include h2;
    padding-bottom: 24px;
  }
  &__h3 {
    @include h3;
  }
  &-header {
    width: 100%;
    position: relative;
    padding: 40px;
    border-bottom: 1px solid $secondary-colors-2;
    &__label {
      position: absolute;
      transform: translate(0%, -50%);
      left: 40px;
      top: 50%;
      line-height: 0;
    }
  }
}

.inventoryAddForm {
  &-sections {
    @include tablet {
      display: flex;
      padding: 40px;
    }
  }
  &-section1 {
    padding: 24px 40px;
    border-bottom: 1px solid $secondary-colors-2;
    @include tablet {
      width: 50%;
      border-right: 1px solid $secondary-colors-2;
      border-bottom: none;
      padding: 0 40px 0 0;
    }
  }
  &-section2 {
    padding: 24px 40px;
    @include tablet {
      width: 50%;
      padding: 0 0 0 40px;
    }
  }
  &__name,
  &__description,
  &__status {
    padding-bottom: 16px;
  }
  &__radio {
    display: flex;
    margin-top: 4px;
    &-input {
      display: flex;
      align-items: center;
      width: 50%;
      @include p2;
    }
  }
  &__buttons {
    padding: 24px 40px;
    display: flex;
    justify-content: space-between;
    background-color: $background-colors-2;
    @include tablet {
      justify-content: flex-end;
    }
  }
}

.inventoryAddButton {
  color: white;
  height: 36px;
  width: 48%;
  border-radius: 20px;
  border: none;
  @include h3;
  @include tablet {
    width: inherit;
    height: 38px;
  }
  &__cancel {
    background-color: $primary-colors-3;
    border: 1px solid $secondary-colors-2;
    color: $secondary-colors-1;
    text-align: center;
    width: 100%;
    @include tablet {
      padding: 0 16px;
    }
  }
  &__add {
    background-color: $primary-colors-2;
    width: 100%;
    @include tablet {
      padding: 0 16px;
    }
    &-label {
      position: absolute;
      transform: translate(0%, -50%);
      left: 8%;
      top: 50%;
      line-height: 0;
      @include tablet {
        left: 4px;
      }
      &-icon {
        width: 16px;
      }
    }
  }
  &-btn {
    position: relative;
    @include tablet {
      margin-left: 16px;
    }
  }
}

.input {
  &-name,
  &-quantity {
    height: 36px;
    border-radius: 20px;
    border: 1px solid $secondary-colors-2;
    padding: 0 16px;
    width: 100%;
    margin-top: 4px;
    @include p2;
  }
  &-description {
    width: 100%;
    border: 1px solid $secondary-colors-2;
    border-radius: 20px;
    padding: 0 16px;
    padding-top: 16px;
    height: 120px;
    margin-top: 4px;
    @include p2;
  }
  &__category {
    width: 100%;
    height: 36px;
    border-radius: 20px;
    border: 1px solid $secondary-colors-2;
    padding: 0 16px;
    margin-top: 4px;
    @include p2;
  }
  &__status {
    &-label {
      padding-left: 8px;
    }
  }
  &__warehouse {
    width: 100%;
    height: 36px;
    border-radius: 20px;
    border: 1px solid $secondary-colors-2;
    padding: 0 16px;
    margin-top: 4px;
    @include p2;
  }
}
