@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/fonts" as *;

.footer {
  background-color: #f7f8f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  @include desktop {
    height: 3rem;
  }
  &__text {
    color: #5c667e;
  }
}
