@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/variables" as *;

.search {
  height: 36px;
  border-radius: 20px;
  border: 1px solid #bdc5d5;
  padding-left: 16px;
  width: 100%;
  position: relative;
}

.searchbar-container {
  padding-bottom: 2rem;
  @include tablet {
    width: 40%;
  }
}

.warehouse {
  display: flex;
  flex-direction: column;
  padding: 2rem 40px 2rem;
  border-bottom: 1px solid #bdc5d5;
  @include tablet {
    flex-direction: row;
    justify-content: space-between;
  }

  &__add-button {
    background-color: #2e66e5;
    color: white;
    height: 36px;
    border-radius: 20px;
    border: none;
    @include tablet {
      width: 22%;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    @include tablet {
      display: none;
    }
  }
  &__list-row {
    display: none;
    @include tablet {
      display: flex;
      justify-content: space-evenly;
      list-style-type: none;
      background-color: #f7f8f9b2;
    }
  }

  &__list-item {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid grey;
    padding-top: 16px;
    padding-bottom: 24px;
  }
  &__label {
    font-weight: 600;
    color: #5c667e;
    line-height: 2rem;
    @include tablet {
      display: flex;
      align-items: center;
    }
  }
  &__city {
    color: #2e66e5;
    font-weight: 600;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
  }
  &__contact-item {
    margin-bottom: 16px;
  }
  &__header {
    padding-bottom: 2rem;
    @include tablet {
      width: 25%;
    }
  }
}

.search-icon {
  height: 24px;
  width: 24px;
  position: absolute;
  right: 14%;
  top: 4.5%;
  @include tablet {
    right: 33%;
    top: 20.7%;
  }
}

.parent-container {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  width: 100%;
}

.flexbox1 {
  display: flex;
  flex-direction: column;
}

// .flexbox2 {
//     padding-left: 40px;
// }
// .icons {
//   height: 24px;
//   width: 24px;
// }

.icon-container {
  display: flex;
  justify-content: space-between;
  padding: 16px 40px 0;
}
