@use './styles/partials/mixin' as *;
@use './styles/partials/fonts' as *;
@use './styles/partials/variables' as *;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'TitilliumWeb', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
}

.content {
  background-color: $background-colors-2;

  @include tablet {
    padding: 0 3rem;
  }

  @include desktop {
    padding: 0 10rem;
  }

  &__main {
    background-color: $primary-colors-3;
    position: relative;
    width: 100%;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 0 #13182c1a;
    margin-top: 3rem;
  }
}

.app__background {
  background-color: $background-colors-1;
  height: 23rem;
  position: absolute;
  top: 0;
  width: 100%;
}
